WS.ShowCase.Web/WS.ShowCase.ApplicationService/Service References/ProductSvc/ProductService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.wolversoft.com/ShowCase/Model/Provider/20131120" elementFormDefault="qualified" targetNamespace="http://www.wolversoft.com/ShowCase/Model/Provider/20131120" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Provider">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedByUserId" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="ModifiedByUserId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProviderId" type="xs:int" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Provider" nillable="true" type="tns:Provider" />
  <xs:complexType name="ArrayOfProvider">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Provider" nillable="true" type="tns:Provider" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProvider" nillable="true" type="tns:ArrayOfProvider" />
</xs:schema>