WS.ShowCase.Web/WS.ShowCase.ApplicationService/Service References/UserSecurityBLService/UserService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.wolversoft.com/UserSecurity/UserService/20120530" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.wolversoft.com/UserSecurity/UserService/20120530" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.wolversoft.com/UserSecurity/UserService/20120530/Imports">
      <xsd:import schemaLocation="http://localhost:22701/UserService.svc?xsd=xsd0" namespace="http://www.wolversoft.com/UserSecurity/UserService/20120530" />
      <xsd:import schemaLocation="http://localhost:22701/UserService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WS.Security.Model" />
      <xsd:import schemaLocation="http://localhost:22701/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:22701/UserService.svc?xsd=xsd2" namespace="http://www.wolversoft.com/UserSecurity/Model/User/20130612" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_InsertUser_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_InsertUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_InsertUser_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WS.Security.Model" name="detail" element="q1:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUser_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/WS.Security.Model" name="detail" element="q2:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IUserService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IUserService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_ChangePassword_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/WS.Security.Model" name="detail" element="q3:ServiceFault" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="InsertUser">
      <wsdl:input wsaw:Action="http://www.wolversoft.com/UserSecurity/UserService/20120530/IUserService/InsertUser" message="tns:IUserService_InsertUser_InputMessage" />
      <wsdl:output wsaw:Action="http://www.wolversoft.com/UserSecurity/UserService/20120530/IUserService/InsertUserResponse" message="tns:IUserService_InsertUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.wolversoft.com/UserSecurity/UserService/20120530/IUserService/InsertUserServiceFaultFault" name="ServiceFaultFault" message="tns:IUserService_InsertUser_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://www.wolversoft.com/UserSecurity/UserService/20120530/IUserService/UpdateUser" message="tns:IUserService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://www.wolversoft.com/UserSecurity/UserService/20120530/IUserService/UpdateUserResponse" message="tns:IUserService_UpdateUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.wolversoft.com/UserSecurity/UserService/20120530/IUserService/UpdateUserServiceFaultFault" name="ServiceFaultFault" message="tns:IUserService_UpdateUser_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://www.wolversoft.com/UserSecurity/UserService/20120530/IUserService/ChangePassword" message="tns:IUserService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://www.wolversoft.com/UserSecurity/UserService/20120530/IUserService/ChangePasswordResponse" message="tns:IUserService_ChangePassword_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.wolversoft.com/UserSecurity/UserService/20120530/IUserService/ChangePasswordServiceFaultFault" name="ServiceFaultFault" message="tns:IUserService_ChangePassword_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>